{% extends "base.html" %}

{% block title %}Edit Event{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-7">
            <div class="container logon-form-container">
                <h2>Edit Event</h2>
                <form method="post" action="{{ url_for('edit_event', event_id=event.id) }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.title.label }}
                        {{ form.title(class="form-control") }}
                        {% for error in form.title.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.start_datetime.label }}
                        {{ form.start_datetime(class="form-control") }}
                        {% for error in form.start_datetime.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.end_datetime.label }}
                        {{ form.end_datetime(class="form-control") }}
                        {% for error in form.end_datetime.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.location.label }}
                        {{ form.location(class="form-control") }}
                        {% for error in form.location.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.description.label }}
                        {{ form.description(class="form-control") }}
                        {% for error in form.description.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <a href="{{ url_for('manageevents') }}" class="btn btn-primary">Back</a>
                    <button type="submit" class="btn btn-primary">Confirm Edit</button>
                </form>
            </div>
        </div> 
    </div>
</div>

{% endblock %}